/* Global CSS */

* {
  margin: 0;
  padding: 0;
}
ul,
li {
  padding: 0px;
}
a {
  text-decoration: none;
}
body {
  font-family: "Lato", sans-serif;
}
.fixed-width {
  width: 1300px;
  margin: auto;
}

.bg {
  background-color: #fceef1;
}

.btn-primary {
  background-color: #e55473;
  color: #fff;
  padding: 20px 45px;
  border-radius: 8px;
  border: 1px solid #e55473;
  transition: 0.3s all ease-in-out;
}
.btn-primary:hover {
  background-color: transparent;
  color: #e55473;
  border-color: #e55473;
}

/* Header CSS start */

.banner {
  display: flex;
  align-items: center;
}

.banner-left h1 {
  font-size: 60px;
  font-weight: 700;
  color: #272727;
}
.banner-left p {
  width: 75%;
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.banner-right figure img {
  width: 440px;
  margin-bottom: -5px;
  padding-top: 50px;
}

/* featured section CSS */

.featured {
  padding: 120px 0px;
}
.featured-title {
  text-align: center;
}
.featured-title h1 {
  font-size: 40px;
  color: #272727;
}
.featured-title p {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  font-size: 18px;
  line-height: 25px;
}
.featured-it {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.featured-item {
  width: 33%;
  text-align: center;
}
.featured-item h3 {
  font-size: 22px;
  text-decoration: underline;
  color: #272727;
}
.featured-img {
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 100px;
  height: 350px;
  display: flex;
  justify-content: center;
  border-radius: 50% 50% 0 0;
}
.fitem-1 {
  background-color: #f2dee7;
}
.fitem-2 {
  background-color: #d9eff1;
}
.fitem-3 {
  background-color: #e3ebdb;
}

/* extra featured CSS start */

.extra-featured {
  padding: 85px 0px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.extra-featured .extra-item h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  color: #272727;
}

/* hot deal Sction CSS */

.hot-deal {
  padding: 100px 0px;
  background: #ffafaf57;
  margin-top: 120px;
}
.hot-deal-prnt {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hot-deal-left {
  text-align: center;
  width: 65%;
}
.hot-deal-left h1 {
  font-size: 40px;
  font-weight: 700;
  color: #272727;
  margin-bottom: 20px;
}
.hot-deal-left h1 span {
  color: #e55473;
}
.hot-deal-left p {
  font-size: 18px;
  line-height: 25px;
  width: 60%;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}
.hot-deal-right {
  width: 35%;
}
.hot-deal-right img {
  width: 300px;
}

/* Social ads section CSS */

.social-title {
  text-align: center;
  padding-top: 100px;
}
.social-title h1 {
  font-size: 40px;
  font-weight: 700;
  color: #272727;
  margin-bottom: 20px;
}
.social-title p {
  width: 45%;
  margin: auto;
  font-size: 18px;
  line-height: 25px;
}

.social-ads {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 100px;
}
.social-item {
  width: 25%;
  overflow: hidden;
  padding: 0px 10px;
}
.social-item img {
}

/* call to action CSS */

.call-to-action {
  background-image: url(./Media/Rectangle\ 9.png);
  padding: 100px 0;
  background-position: top center;
  background-size: cover;
  text-align: center;
  margin-bottom: 100px;
}
.call-to-action h1 {
  font-size: 40px;
  font-weight: 900;
  color: #272727;
  margin-bottom: 10px;
}
.call-to-action p {
  font-size: 18px;
  color: #272727;
  line-height: 25px;
  margin-bottom: 40px;
}
.call-to-action form {
  width: 55%;
  margin: auto;
}
.call-to-action input {
}
.email-input {
  width: 79%;
  padding: 15px 0px 15px 10px;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
}
.submit-input {
  width: 18%;
  padding: 14px 13px;
  background-color: #e55473;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #e55473;
}

/* footer css start */

footer {
  background-color: #000;
  padding: 100px 0px;
}
.main-footer {
  text-align: center;
  width: 40%;
  margin: auto;
}
.main-footer h1 {
  font-size: 48px;
  font-weight: 900;
  color: #fff;
}
.main-footer h1 span {
  color: #e55473;
}
.main-footer p {
  color: #fff;
  margin-top: 20px;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 40px;
}
.main-footer span {
  color: rgba(255, 255, 255, 0.4);
}
